<div class="my-1">
  <!-- <h4>
    {{ todo.title }}
  </h4>
  <p>{{ todo.description }}</p>
  <button class="btn btn-danger" (click)="onClick()">Delete</button> -->
  <div class="card" style="width: 300px">
    <div class="card-header">{{ todo.title }}</div>
    <div class="card-body">
      <!-- <h5 class="card-title">Special title treatment</h5> -->
      <p class="card-text">
        {{ todo.description }}
      </p>
      <button href="#" class="btn btn-danger" (click)="onClick()">
        Delete
      </button>
    </div>
  </div>
</div>
